<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">

</head>
<body>

    @if (IsSectionDefined("MessageBox"))
    {
        @RenderSection("MessageBox")
    }
    else
    {
        <div class="alert alert-primary text-center m-0">
            Welcome!
        </div>
    }

    @await Html.PartialAsync("_navbar")

    @RenderSection("Header", false)

    <main>
        <div class="container my-3">

            @if (IsSectionDefined("Categories"))
            {
                <div class="row">
                    <div class="col-md-3">
                        @RenderSection("Categories", false)
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            }

        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        ShopApp || 2021
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    @RenderSection("Scripts", false)
</body>
</html>

@*Bu dosya tüm sayfalarda aynı olan footer, navbar gibi yerleri elimizdeki tüm sayfalarda göstermeye yarıyor.
    RenderBody ise tüm sayfalarda farklı olacak olan yer olarak ifade ediliyor. Başka sayfalarda bunu çağırmak için kullanılan
    yöntem yine en üstte     Layout = "_Layout"; şeklinde. Bunu çağırdığımız sayfalarda yazılması gereken şeyler en üstteki modeller dışında sadece
    render ile ifade edilen bölgelerdir.*@



@* @RenderSection("MessageBox", false)  Vermek istediğin ekstra bir özelliği kullanmak ve ezmek için bu kodu yazıp false yazman lazım ki hata olmasın.*@
@*Her yerde kullanmayacaksan bir özelliği bu kodu yazıp sonra kullanacağın sayfada @section MessageBox{} şeklinde yazıp içeri eklemek istediğin
    özelliği ekleyerek kullanabilirsin.*@